@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin bgImg {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
