$primary-color-dark: #a31818;
$secondary-color-dark: #0a0607;
$tertiary-color-dark: #eeecec;
$quaternary-color-dark: #595757;

$primary-color-light: #73eafa;
$secondary-color-light: #dcfaff;
$tertiary-color-light: #fff;
$quaternary-color-light: #8d8d8dad;
