@import 'variables';
@import 'mixins';

#weather-container {
  z-index: 3;
  grid-column: 2/3;
  grid-row: 3/4;
  width: 100%;
  min-width: 333px;
  max-width: 500px;
  height: 400px;
  padding: 20px;
  margin: 0 auto;
  border-radius: 20px; // 0 0 5px $primary-color-dark
  border-right: 1px solid $primary-color-dark;
  border-bottom: 1px solid $primary-color-dark;
  // border: 1px solid $primary-color-dark;
  box-shadow: $tertiary-color-dark 1px 1px 4px -1px inset;
  background-image: linear-gradient(140deg, rgba(48, 48, 48, 0.699), rgba(15, 15, 15, 0.473));

  @include flex(column, space-around, space-around);

  #city-name {
    margin: 20px 0;
    font-size: 2.5rem;
    text-align: center;
  }

  #weather-temperature {
    margin: 20px 0;

    div {
      @include flex(row, center, center);

      #weather-temp-main {
        padding-right: 19px;
        font-size: 5.5rem;
        border-right: 1px solid $primary-color-dark;
      }

      #weather-minmax {
        padding-left: 20px;
        height: 70px;
        font-size: 1.5rem;

        @include flex(column, space-between, flex-start);
      }
    }

    #weather-feels-like {
      margin-top: 20px;
      text-align: center;
    }
  }

  #weather-other-container {
    margin-top: 30px;

    @include flex(row, space-around, center);

    & > div {
      text-align: center;
    }

    #weather-icon-descr,
    #weather-icon-wind,
    #weather-icon-hum {
      height: 40px;
      width: 40px;
      border: none;
    }
  }
}
