@import 'reset';
@import 'variables';
@import 'mixins';
@import 'modal';
@import 'display';
@import 'form';

#content {
  margin: auto;
  height: 100vh;
  width: 100vw;
  min-width: 920px;
  color: $tertiary-color-dark;
  background-color: $secondary-color-dark;
  font-family: 'Work Sans', sans-serif;
}

.material-icons {
  display: inline-block;
  line-height: 1.2;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  font-family: 'Material Icons', sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 22px;
  color: rgba(255, 255, 255, 1);
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
}

main {
  position: relative;
  margin: auto;
  height: 100%;
  width: 100%;
  max-width: 1024px;
  display: grid;
  grid-template-columns: 280px 4fr 280px;
  grid-template-rows: 1fr 0.5fr minmax(60vh, 80vh);

  #bg-image {
    position: absolute;
    z-index: 1;
    top: 40px;
    right: 50px;
    height: 240px;
    width: 240px;
  }
}
