@import 'reset';

#content {
  margin: auto;
  height: 100%;
  width: 100%;
  background-repeat: repeat;
  background-position: center;
  background-size: contain;
}

.material-icons {
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  font-family: 'Material Icons', sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  color: rgba(255, 255, 255, 1);
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
}

main {
  margin: auto;
  height: 100%;
  width: 60%;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 1fr 1fr minmax(60vh, 80vh);

  form {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  article {
    grid-column: 2/3;
    grid-row: 3/4;
  }
}

article {
  div {
    #weather-icon-descr {
      height: 50px;
      width: 50px;
      border: none;
    }
  }
}

.error-msg {
  display: none;
}
